<script>
import { GlIcon, GlTooltipDirective, GlSprintf } from '@gitlab/ui';
import formattingMixins from 'jh/subscriptions/new/formatting_mixins';
import { s__, formatNumber } from '~/locale';
import {
  I18N_SUMMARY_DATES,
  I18N_SUMMARY_QUANTITY,
  I18N_SUMMARY_SUBTOTAL,
  I18N_SUMMARY_TAX,
  I18N_SUMMARY_TAX_NOTE,
  I18N_SUMMARY_TOTAL,
  I18N_STORAGE_TOOLTIP_NOTE,
} from 'ee/subscriptions/buy_addons_shared/constants';

export default {
  components: {
    GlSprintf,
    GlIcon,
  },
  directives: {
    GlTooltip: GlTooltipDirective,
  },
  mixins: [formattingMixins],
  props: {
    vat: {
      type: Number,
      required: true,
    },
    totalExVat: {
      type: Number,
      required: true,
    },
    selectedPlanText: {
      type: String,
      required: true,
    },
    selectedPlanPrice: {
      type: Number,
      required: true,
    },
    totalAmount: {
      type: Number,
      required: true,
    },
    quantity: {
      type: Number,
      required: true,
    },
    taxRate: {
      type: Number,
      required: false,
      default: null,
    },
    subscriptionEndDate: {
      type: String,
      required: false,
      default: '',
    },
    hasExpiration: {
      type: Boolean,
      required: false,
      default: false,
    },
  },
  data() {
    return {
      startDate: new Date(),
    };
  },
  computed: {
    endDate() {
      return (
        this.subscriptionEndDate ||
        new Date(this.startDate).setFullYear(this.startDate.getFullYear() + 1)
      );
    },
    hasPositiveQuantity() {
      return this.quantity > 0;
    },
    taxAmount() {
      return this.taxRate ? this.formatAmount(this.vat, this.quantity > 0) : '–';
    },
    taxLine() {
      return `${this.$options.i18n.tax} ${this.$options.i18n.taxNote}`;
    },
    formattedPrice() {
      return formatNumber(this.selectedPlanPrice);
    },
    renderedAmount() {
      return this.totalExVat ? this.formatAmount(this.totalExVat, this.hasPositiveQuantity) : '-';
    },
    planText() {
      /* eslint-disable @gitlab/require-i18n-strings */
      return {
        'Gitlab Storage 10GB - 1 Year': s__('JH|Gitlab Storage 10GB - 1 Year'),
        '1000 CI minutes pack': s__('JH|1000 CI minutes pack'),
      }[this.selectedPlanText];
      /* eslint-enable @gitlab/require-i18n-strings */
    },
  },
  i18n: {
    quantity: I18N_SUMMARY_QUANTITY,
    dates: I18N_SUMMARY_DATES,
    subtotal: I18N_SUMMARY_SUBTOTAL,
    tax: I18N_SUMMARY_TAX,
    taxNote: I18N_SUMMARY_TAX_NOTE,
    total: I18N_SUMMARY_TOTAL,
    tooltipNote: I18N_STORAGE_TOOLTIP_NOTE,
  },
};
</script>
<template>
  <div>
    <div class="gl-display-flex gl-justify-content-space-between gl-font-weight-bold gl-mb-3">
      <div data-testid="selected-plan">
        {{ planText }}
        <span v-if="hasPositiveQuantity" data-testid="quantity">
          <gl-sprintf :message="$options.i18n.quantity">
            <template #quantity>{{ quantity }}</template>
          </gl-sprintf>
        </span>
      </div>
      <div>
        {{ renderedAmount }}
      </div>
    </div>
    <div class="gl-border-b-1 gl-border-b-gray-100 gl-border-b-solid gl-pb-5 gl-mb-5">
      <div class="gl-text-gray-500" data-testid="price-per-unit">
        <slot name="price-per-unit" :price="formattedPrice"></slot>
      </div>
      <div v-if="hasExpiration" class="gl-text-gray-500" data-testid="subscription-period">
        <gl-sprintf :message="$options.i18n.dates">
          <template #startDate>{{ formatDate(startDate) }}</template>
          <template #endDate>{{ formatDate(endDate) }}</template>
        </gl-sprintf>
        <gl-icon
          v-if="subscriptionEndDate"
          v-gl-tooltip.right
          :title="$options.i18n.tooltipNote"
          :aria-label="$options.i18n.tooltipNote"
          role="tooltip"
          name="question"
        />
      </div>
    </div>
    <div class="gl-border-b-1 gl-border-b-gray-100 gl-border-b-solid gl-pb-5 gl-mb-5">
      <div class="gl-display-flex gl-justify-content-space-between gl-text-gray-500 gl-mb-2">
        <div>{{ $options.i18n.subtotal }}</div>
        <div data-testid="total-ex-vat">
          {{ renderedAmount }}
        </div>
      </div>
    </div>
    <div class="gl-display-flex gl-justify-content-space-between gl-font-weight-bold gl-font-lg">
      <div>{{ $options.i18n.total }}</div>
      <div data-testid="total-amount">
        {{ renderedAmount }}
      </div>
    </div>
  </div>
</template>
