@import 'framework/variables';

$records-footer-height: 47px;

.jh-records-footer {
  display: none;
}

.jh-page-wrapper.has-global-footer {
  .content-wrapper {

    @media (min-width: $breakpoint-lg) {
      min-height: calc(100vh - #{$header-height});
      position: relative;

      .with-performance-bar & {
        min-height: calc(100vh - #{$header-height} - #{$performance-bar-height});
      }

      .jh-records-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 16px;
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
        transition: padding $gl-transition-duration-medium;
        background-color: $gray-lighter;
        color: $gray-500;
        height: $records-footer-height;
        line-height: $records-footer-height;
        font-size: 12px;

        a,
        a:visited {
          color: $gray-500;
        }

        .record-links {
          display: inline-flex;
          align-items: center;
          .record-item {
            img, a {
              vertical-align: middle;
            }
            img {
              margin-right: 8px;
            }
          }

          .divider {
            width: 1px;
            background-color: $gray-500;
            margin: 10px;
            height: 12px;
            border-top: none;
          }
        }
      }

      // This rule is meant for fixing boards content with `jh-records-footer`
      // which obscures the operation button
      .issue-boards-content > #content-body {
        padding-bottom: $records-footer-height;
      }

      .layout-page:not(.right-sidebar-expanded):not(.right-sidebar-collapsed) & .jh-records-footer {
        padding-right: 16px;
      }
    }

    @include media-breakpoint-only(sm) {
      &:not(.wiki-sidebar):not(.build-sidebar):not(.issuable-bulk-update-sidebar) {
        .jh-records-footer {
          padding-right: $right-sidebar-collapsed-width;
        }
      }
    }

    @include media-breakpoint-up(md) {
      .jh-records-footer {
        padding-right: $right-sidebar-collapsed-width + 16px;
      }
    }
  }

  .settings {
    .gl-toggle-wrapper {
      position: relative;
    }
  }

  .right-sidebar-expanded {
    @include media-breakpoint-up(md) {
      .jh-records-footer {
        padding-right: $right-sidebar-width + 16px;
      }
    }
  }
}

