@import 'framework/variables';

$jh-tanuki-dark: #171321;
[data-page^="security"] {
  .nav-sidebar {
    .avatar-container  {
      padding: 0 4px;
      .tanuki-logo {
        color: $jh-tanuki-dark !important;
      }
    }
  }
}

.tanuki-logo {
  color: $jh-tanuki-dark;
  #logo & {
    color: white;
  }
}
