.terms {
  .phone-form {
    select[name="area_code"] {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    input[name="verification_code"] {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }
}
