- return '' if Gitlab.com?

- expanded = integration_expanded?('feishu_app_')
%section.settings.as-feishu-integration.no-animate#js-feishu-integration-settings{ class: ('expanded' if expanded) }
  .settings-header
    %h4
      = s_('JH|INTEGRATION|FeiShu Integration')
    %button.btn.gl-button.btn-default.js-settings-toggle{ type: 'button' }
      = expanded ? _('Collapse') : _('Expand')
    %p
      = s_("JH|INTEGRATION|FeiShu integration allows you to receive project events and send operation commands in Feishu group chats.")
  .settings-content
    = gitlab_ui_form_for @application_setting, url: general_admin_application_settings_path(anchor: 'js-feishu-integration-settings'), html: { class: 'fieldset-form' } do |f|
      = form_errors(@application_setting) if expanded

      %fieldset
        .form-group
          = f.gitlab_ui_checkbox_component :feishu_integration_enabled do |c|
            = c.with_label do
              = s_('JH|INTEGRATION|Enable FeiShu Integration')
            end
        .form-group
          = f.label :feishu_app_key, s_('JH|INTEGRATION|FeiShu App ID'), class: 'label-bold'
          = f.text_field :feishu_app_key, class: 'form-control gl-form-input'
        .form-group
          = f.label :feishu_app_secret, s_('JH|INTEGRATION|FeiShu App Secret'), class: 'label-bold'
          = f.text_field :feishu_app_secret, class: 'form-control gl-form-input'

      = f.submit _('Save changes'), class: "gl-button btn btn-confirm"
