-# We will need a feature flag and license check on this one since this is a paied feature starts with starter.
- if ::Gitlab::PasswordExpirationSystem.visible?
  .js-password-expiration{ data: { password_expiration_enabled: @application_setting.password_expiration_enabled.to_s, password_expires_in_days: @application_setting.password_expires_in_days, password_expires_notice_before_days: @application_setting.password_expires_notice_before_days } }
