- render_remember_me = remember_me_enabled? && local_assigns.fetch(:render_remember_me, true)
- restyle_login_page_enabled = Feature.enabled?(:restyle_login_page, @project)

.omniauth-container.gl-mt-5.gl-p-5{ class: restyle_login_page_enabled ? 'gl-text-center gl-ml-auto gl-mr-auto' : 'gl-py-5' }
  - if !restyle_login_page_enabled
    %label.gl-font-weight-bold
      = _('Sign in with')
  - providers = enabled_button_based_providers
  - providers.each do |provider|
    - has_icon = provider_has_icon?(provider)
    = button_to omniauth_authorize_path(:user, provider), id: "oauth-login-#{provider}", class: "btn gl-button btn-default gl-w-full gl-mb-2 js-oauth-login #{qa_selector_for_provider(provider)} #{'gl-w-full gl-ml-2 gl-mr-2' unless restyle_login_page_enabled}", form: { class: restyle_login_page_enabled ? "gl-mb-3" : 'gl-w-full gl-mb-3' } do
      - if has_icon
        = provider_image_tag(provider)
      %span.gl-button-text
        = label_for_provider(provider)
  - if render_remember_me
    = render Pajamas::CheckboxTagComponent.new(name: 'remember_me_omniauth', value: nil) do |c|
      = c.with_label do
        = _('Remember me')
