.gl-w-75p
  .gl-w-28
    .gl-mb-6
      = image_tag 'saas-trial-illustration.svg'

    %h2.gl-mb-2.gl-text-center.gl-text-gray-800= s_('InProductMarketing|Free 30-day trial')
    %p.gl-font-lg.gl-text-center.gl-text-gray-800= s_('JH|InProductMarketing|No payment required')

  %ul.gl-pl-0.gl-mb-6.gl-pl-0.gl-mb-6x.gl-text-gray-800.gl-font-sm
    - [s_('InProductMarketing|Increase Operational Efficiencies'), s_('InProductMarketing|Deliver Better Products Faster'), s_('InProductMarketing|Reduce Security and Compliance Risk')].each do |value_prop|
      %li.gl-display-flex.gl-mb-5
        %span.gl-mr-3.gl-text-green-400= sprite_icon 'check-circle', css_class: 'gl-icon'
        = value_prop

  %p.gl-mb-6.gl-font-weight-bold.gl-font-lg.gl-line-height-24= s_('JH|InProductMarketing|Trusted by the vast majority of our users')

  %ul.gl-display-flex.gl-flex-wrap.gl-pl-0.gl-font-sm.gl-font-weight-bold{ style: "row-gap: 32px; column-gap: 24px;"}
    - reassurance_logo_data.each do |logo_data|
      %li.gl-display-flex.gl-align-items-center{ class: logo_data[:css_classes] }
        = image_tag logo_data[:image_path], alt: logo_data[:image_alt_text], title: logo_data[:name], class: "gl-w-#{logo_data[:w]} gl-h-9"
