- page_title _('Start a Free Ultimate Trial')
- add_page_specific_style 'page_bundles/signup'
- content_for :page_specific_javascripts do
  = render "layouts/google_tag_manager_head"
  = render "layouts/one_trust"
  = render "layouts/bizible"

= render "layouts/google_tag_manager_body"

- content_for :omniauth_providers_top do
  = render 'trial_registrations/signup_omniauth_provider_list'

.row
  .col-lg-6.gl-display-none.gl-lg-display-flex.gl-flex-direction-column.gl-align-items-center.gl-justify-content-start
    = render 'reassurances'
  .col-md-6.offset-md-3.offset-lg-0
    %h2.gl-lg-display-none.gl-mb-3.gl-mt-0.gl-text-gray-800
      = s_('InProductMarketing|Free 30-day trial')
    %p.gl-lg-display-none.gl-font-lg.gl-text-gray-800
      = s_('InProductMarketing|No credit card required.')

    .signup-page
      = render 'devise/shared/signup_box',
        borderless: true,
        url: trial_registrations_path(glm_tracking_params),
        button_text: _('Continue'),
        show_omniauth_providers: social_signin_enabled?

      = render 'devise/shared/sign_in_link'

      %p.gl-text-center
        = s_('InProductMarketing|Want to host GitLab on your servers?')
        = link_to s_('InProductMarketing|Start a Self-Managed trial'), 'https://gitlab.cn/free-trial/#selfmanaged/', data: { track_action: 'click_link', track_label: 'start_self-managed_trial' }
