= render layout: 'shared/billings/billing_plans_layout', locals: { namespace: namespace, current_plan: current_plan } do

  - all_groups_link = link_to s_("BillingPlans|Check out all groups"),
                      dashboard_groups_path,
                      data: { track_action: 'click_button', track_label: 'view_all_groups' }

  = html_escape(s_("BillingPlans|Not the group you're looking for? %{all_groups_link}.")) % { all_groups_link: all_groups_link.html_safe }

  .gl-flex-direction-row.gl-display-flex.gl-flex-wrap.gl-justify-content-center.gl-mb-7.gl-ml-7{ data: { track_action: 'render' } }
    = render Billing::PlanComponent.with_collection(plans_data, namespace: namespace)
  .gl-mb-2
    = s_("BillingPlans|All plans have unlimited (private) repositories.")
  .gl-mb-5
    = s_("BillingPlans|Ready to explore the value of the paid features today? Start a trial, no credit card required.")
  = link_to s_("BillingPlans|Start a free Ultimate trial"),
        new_trial_path(namespace_id: namespace.id),
        class: ["gl-mb-6 btn gl-button btn-confirm-secondary"],
        data: start_free_trial_data
  .billing-plan-divider.gl-m-auto.gl-border-b.gl-mb-7
  .gl-font-size-h1.gl-font-weight-bold.gl-line-height-24.gl-mb-4
    = s_("BillingPlans|Still have questions?")
  .gl-display-inline-flex.gl-mb-4
    = s_("BillingPlans|We're here to help.")
    &nbsp;
    = link_to s_('BillingPlans|Talk to an expert today.'), 'https://gitlab.cn/sales/', target: '_blank'
  .gl-mb-5
    = s_("BillingPlans|Loved and trusted by our customers")
    = emoji_icon('heart', 'aria-hidden': true, class: "gl-font-base gl-vertical-align-baseline")
  .gl-mt-7
    = image_tag("marketing/1@2x.png", alt: '禅道', title: '禅道', class: "gl-mr-6", height: 40)
    = image_tag("marketing/2@2x.png", alt: '中智行', title: '中智行', class: "gl-mr-6", height: 40)
    = image_tag("marketing/3@2x.png", alt: '云骥', title: '云骥', class: "gl-mr-6", height: 40)
    = image_tag("marketing/4@2x.png", alt: '普华永道', title: '普华永道', class: "gl-mr-6", height: 40)
    = image_tag("marketing/5@2x.png", alt: '广发证券', title: '广发证券', class: "gl-mr-6", height: 40)
    = image_tag("marketing/6@2x.png", alt: 'New Development Bank', title: 'New Development Bank', class: "gl-mr-6", height: 40)
    = image_tag("marketing/7@2x.png", alt: '齐碳科技', title: '齐碳科技', class: "gl-mr-6", height: 40)
    = image_tag("marketing/8@2x.png", alt: '途游游戏', title: '途游游戏', class: "gl-mr-6", height: 40)
