<!-- eslint-disable vue/multi-word-component-names -->
<script>
import Tracking from '~/tracking';
import BillingAddress from 'jh/subscriptions/new/components/checkout/billing_address.vue';
import SubscriptionDetails from 'ee/subscriptions/new/components/checkout/subscription_details.vue';
import ConfirmOrder from './checkout/confirm_order.vue';

export default {
  components: { SubscriptionDetails, BillingAddress, ConfirmOrder },
  mixins: [Tracking.mixin()],
  mounted() {
    this.track('render', { label: 'saas_checkout' });
  },
};
</script>
<template>
  <div>
    <div class="flash-container"></div>
    <subscription-details />
    <billing-address />
    <confirm-order />
  </div>
</template>
