<script>
import { GlFormGroup, GlCollapsibleListbox } from '@gitlab/ui';
import { createAlert } from '~/alert';
import axios from '~/lib/utils/axios_utils';
import DomElementListener from '~/vue_shared/components/dom_element_listener.vue';
import { sprintf } from '~/locale';
import { i18n, SCOPE_SEPARATOR } from '../constants';

export default {
  i18n,
  components: {
    GlFormGroup,
    GlCollapsibleListbox,
    DomElementListener,
  },
  props: {
    labelsApi: {
      type: String,
      required: true,
    },
    customLabels: {
      type: Array,
      required: true,
    },
    rootClassNames: {
      type: Array,
      required: false,
      default: () => [],
    },
  },
  data() {
    return {
      loading: true,
      selectedLabels: Array.from({ length: this.customLabels.length }),
      dropdownStates: this.customLabels.map(() => true),
      labels: [],
    };
  },
  async created() {
    try {
      const { data } = await axios.get(this.labelsApi);
      this.labels = data;
      this.loading = false;
    } catch (e) {
      createAlert({
        message: this.$options.i18n.FETCH_LABELS_ERROR_MESSAGE,
      });
    }
  },
  methods: {
    validateForm(event) {
      this.dropdownStates = this.selectedLabels.map(
        (selectedLabel, index) =>
          selectedLabel !== undefined || !this.customLabels[index]?.required,
      );

      if (this.dropdownStates.includes(false)) {
        event.preventDefault();
      }
    },
    findLabelsInScope(scope) {
      return this.labels
        .filter((label) => label.title.includes(`${scope}${SCOPE_SEPARATOR}`))
        .map((label) => {
          return {
            text: label.title.split(`${SCOPE_SEPARATOR}`).pop(),
            value: label.id,
          };
        });
    },
    findLabelTextById(id) {
      const labelFound = this.labels.find((label) => label.id === id);
      return labelFound ? labelFound.title.split(`${SCOPE_SEPARATOR}`).pop() : '';
    },
    toggleText(scope, index) {
      return this.selectedLabels[index] !== undefined
        ? this.findLabelTextById(this.selectedLabels[index])
        : sprintf(i18n.SELECT_SCOPE, {
            scope,
          });
    },
    toggleClass(index) {
      return this.dropdownStates[index]
        ? ''
        : 'gl-field-error-outline gl-field-error-outline gl-border-1!';
    },
    groupLabel(customLabel) {
      return customLabel.scope + (customLabel.required ? ` ${this.$options.i18n.REQUIRED}` : '');
    },
  },
};
</script>
<template>
  <dom-element-listener selector="button[type='submit']" @click="validateForm">
    <div :class="rootClassNames" data-testid="new-fields-col">
      <input
        v-for="selectedLabel in selectedLabels"
        :key="selectedLabel"
        type="hidden"
        name="issue[label_ids][]"
        :value="selectedLabel"
      />
      <gl-form-group
        v-for="(customLabel, index) in customLabels"
        :key="customLabel.scope"
        label-class="gl-reset-line-height"
        :state="dropdownStates[index]"
        :label="groupLabel(customLabel)"
        :invalid-feedback="$options.i18n.REQUIRED_FIELD_ERROR_MESSAGE"
      >
        <div class="issuable-form-select-holder">
          <gl-collapsible-listbox
            v-model="selectedLabels[index]"
            :data-testid="`listbox-${customLabel.scope}`"
            :toggle-text="toggleText(customLabel.scope, index)"
            :toggle-class="toggleClass(index)"
            :no-results-text="$options.i18n.NO_LABELS"
            block
            :items="findLabelsInScope(customLabel.scope)"
          />
        </div>
      </gl-form-group>
    </div>
  </dom-element-listener>
</template>
