-# forked from app/view/profiles/passwords/edit.html.haml
- breadcrumb_title _('Edit Password')
- page_title _('Password')

.row.gl-mt-3.js-search-settings-section
  .col-lg-4.profile-settings-sidebar
    %h4.gl-mt-0
      = page_title
    %p
      = s_('JH|After a successful password update, you will be redirected to the login page where you can log in with your new password.')
  .col-lg-8
    %h5.gl-mt-0
      - if @user.password_automatically_set
        = _('Change your password')
      - else
        = _('Change your password or recover your current one.')
    = gitlab_ui_form_for @user, url: profile_password_path, method: :put, html: {class: "update-password"} do |f|
      = form_errors(@user)

      - unless @user.password_automatically_set?
        .form-group
          = f.label :password, _('Current password'), class: 'label-bold'
          = f.password_field :password, required: true, autocomplete: 'current-password', class: 'form-control gl-form-input', data: { qa_selector: 'current_password_field' }
          %p.form-text.text-muted
            = _('You must provide your current password in order to change it.')
      .form-group
        = f.label :new_password, _('New password'), class: 'label-bold'
        = f.password_field :new_password, required: true, autocomplete: 'new-password', class: 'form-control gl-form-input js-password-complexity-validation', data: { qa_selector: 'new_password_field' }
        = render_if_exists 'shared/password_requirements_list'
      .form-group
        = f.label :password_confirmation, _('Password confirmation'), class: 'label-bold'
        = f.password_field :password_confirmation, required: true, autocomplete: 'new-password', class: 'form-control gl-form-input', data: { qa_selector: 'confirm_password_field' }
      .gl-mt-3.gl-mb-3
        = f.submit _('Save password'), class: "gl-mr-3", data: { qa_selector: 'save_password_button' }, pajamas_button: true
        - unless ::Gitlab::RealNameSystem.enabled? || @user.password_automatically_set?
          = render Pajamas::ButtonComponent.new(href: reset_profile_password_path, variant: :link, method: :put) do
            = _('I forgot my password')
      - if ::Gitlab::RealNameSystem.enabled?
        %hr
        = f.label "", _('I forgot my password'), class: 'label-bold'
        .gl-mt-3.gl-mb-3
          = render Pajamas::ButtonComponent.new(href: reset_profile_password_path, method: :put) do
            = s_('JH|Recover password via email')
          - if ::Gitlab::RealNameSystem.enabled?
            = render Pajamas::ButtonComponent.new(href: "#{new_user_password_path}?phoneFormOnly") do
              = s_('JH|Recover password via phone')
