= gitlab_ui_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'gl-p-5 gl-show-field-errors js-arkose-labs-form', aria: { live: 'assertive' }, data: { testid: 'sign-in-form' }}) do |f|
  .form-group
    - if ::Gitlab.jh? && ::Gitlab.com? && ::Feature.enabled?(:phone_authenticatable)
      = f.label :login, s_('JH|Username, email or phone'), class: 'label-bold'
    - else
      = f.label :login, _('Username or email')
    = f.text_field :login, value: @invite_email, class: 'form-control gl-form-input js-username-field', autocomplete: 'username', autofocus: 'autofocus', autocapitalize: 'off', autocorrect: 'off', required: true, title: _('This field is required.'), data: { qa_selector: 'login_field', testid: 'username-field' }
  .form-group
    = f.label :password, _('Password')
    = f.password_field :password, class: 'form-control gl-form-input js-password', data: { id: "#{resource_name}_password",
        qa_selector: 'password_field',
        testid: 'password-field',
        name: "#{resource_name}[password]" }
    .form-text.gl-text-right
      - if unconfirmed_email?
        = link_to _('Resend confirmation email'), new_user_confirmation_path
      - else
        = link_to _('Forgot your password?'), new_password_path(:user)

  .form-group
    - if Feature.enabled?(:arkose_labs_login_challenge)
      = render_if_exists 'devise/sessions/arkose_labs'
    - elsif captcha_enabled? || captcha_on_login_required?
      = recaptcha_tags nonce: content_security_policy_nonce

  - if remember_me_enabled?
    = f.gitlab_ui_checkbox_component :remember_me, _('Remember me'), checkbox_options: { autocomplete: 'off' }

  = render Pajamas::ButtonComponent.new(type: :submit, variant: :confirm, block: true, button_options: { class: "js-sign-in-button #{'js-no-auto-disable' if Feature.enabled?(:arkose_labs_login_challenge)}", data: { qa_selector: 'sign_in_button', testid: 'sign-in-button' } }) do
    = _('Sign in')
