@import 'page_bundles/mixins_and_variables_and_functions';

#root-input-container {
  > input {
    box-shadow: inset 0 0 0 1px $gray-400;
  }

  &.invalid > input {
    color: $red-600;
    box-shadow: inset 0 0 0 1px $red-600;
  }

  > input:nth-child(3) {
    margin-right: 2 * $gl-font-size-h1;
  }

  &::after {
    content: '——';
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: -1;
    color: $gray-400;
  }
}
