@import 'page_bundles/mixins_and_variables_and_functions';

.performance-analytics-app {
  .performance-value-filter {
    @include media-breakpoint-up(lg) {
      align-items: center;

      .gl-new-dropdown-button-text {
        max-width: 20rem;
      }
    }

    .project-select,
    .date-range-selector .date-button-group {
      @include media-breakpoint-up(lg) {
        margin-right: $gl-spacing-scale-5;
      }
    }
  }

  .performance-board {
    .performance-card {
      .card {
        width: calc(50% - #{$gl-spacing-scale-4 / 2});

        &:nth-of-type(odd) {
          margin-right: $gl-spacing-scale-4;
        }

        .card-count {
          height: $gl-spacing-scale-15;
        }

        @include media-breakpoint-down(sm) {
          width: 100%;

          &:nth-of-type(odd) {
            margin-right: 0;
          }
        }
      }

      @include media-breakpoint-down(sm) {
        margin-right: 0;
      }
    }
  }
}
