<script>
import { GlAvatarLink, GlAvatarLabeled } from '@gitlab/ui';
import { escape } from 'lodash';
import { AVATAR_SIZE } from 'jh/analytics/performance_analytics/constants';
import { convertObjectPropsToCamelCase } from '~/lib/utils/common_utils';
import SafeHtml from '~/vue_shared/directives/safe_html';
import medalGold from 'jh_images/leaderboard/medal_gold.svg?raw';
import medalSilver from 'jh_images/leaderboard/medal_silver.svg?raw';
import medalBronze from 'jh_images/leaderboard/medal_bronze.svg?raw';

export default {
  name: 'MemberItem',
  components: {
    GlAvatarLink,
    GlAvatarLabeled,
  },
  avatarSize: AVATAR_SIZE,
  directives: {
    SafeHtml,
  },
  props: {
    member: {
      type: Object,
      required: true,
    },
    ranking: {
      type: Number,
      required: true,
    },
  },
  computed: {
    memberInfo() {
      const memberDetail = convertObjectPropsToCamelCase(this.member.user);
      memberDetail.value = this.member.value;
      return memberDetail;
    },
    memberLink() {
      return escape(this.memberInfo.userWebUrl);
    },
    memberMedal() {
      const medalsList = [medalGold, medalSilver, medalBronze];
      return medalsList[this.ranking] ? medalsList[this.ranking] : null;
    },
  },
};
</script>

<template>
  <gl-avatar-link
    class="member-item gl-display-flex gl-border-b gl-py-5 gl-align-items-center gl-justify-content-space-between"
    :href="memberLink"
    :data-username="memberInfo.username"
  >
    <div class="gl-display-flex gl-align-items-center">
      <div
        v-if="memberMedal"
        v-safe-html="memberMedal"
        data-testid="medal-icon"
        data-qa-selector="member_ranking_icon"
        class="gl-mr-1 gl-w-7 gl-display-flex gl-align-items-center"
      ></div>
      <span
        v-else
        data-testid="ranking-text"
        data-qa-selector="member_ranking_text"
        class="gl-mr-1 gl-text-black-normal gl-font-lg gl-w-7 gl-display-flex gl-justify-content-center"
        >{{ ranking + 1 }}</span
      >
      <gl-avatar-labeled
        :label="memberInfo.fullname"
        :sub-label="`@${memberInfo.username}`"
        :size="$options.avatarSize"
        :src="memberInfo.avatar"
        :alt="memberInfo.fullname"
      />
    </div>
    <span class="gl-text-black-normal gl-font-lg">{{ memberInfo.value }}</span>
  </gl-avatar-link>
</template>
