- page_title s_("JH|phone verification")
- add_page_specific_style 'page_bundles/phone'

.row.gl-flex-grow-1
  .gl-display-flex.gl-flex-direction-column.gl-align-items-center.gl-w-full.gl-px-5.gl-pb-5
    #js-phone-verification-show{ data: { paths: { accept: '/-/users/phone/verify' }.to_json } }
