deploy:
  image: dtzar/helm-kubectl:latest
  script:
    - sed -i 's/dl-cdn.alpinelinux.org/mirrors.tuna.tsinghua.edu.cn/g' /etc/apk/repositories
    - apk add helm --repository=https://mirrors.tuna.tsinghua.edu.cn/alpine/edge/testing
    - apk add curl
    - helm create <%= package_name %>
    - cp ./Chart.yaml <%= package_name %>
    - helm package <%= package_name %>
    - http_code=$(curl --write-out "%{http_code}" --request POST --form 'chart=@<%= package_name %>-<%= package_version %>.tgz' --user <%= username %>:<%= access_token %> ${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/helm/api/stable/charts --output /dev/null --silent)
    - '[ $http_code = "201" ]'
  only:
    - <%= package_project.default_branch %>
  tags:
    - runner-for-<%= package_project.group.name %>
