pull:
  image: dtzar/helm-kubectl:latest
  script:
    - sed -i 's/dl-cdn.alpinelinux.org/mirrors.tuna.tsinghua.edu.cn/g' /etc/apk/repositories
    - apk add helm --repository=https://mirrors.tuna.tsinghua.edu.cn/alpine/edge/testing
    - helm repo add --username <%= username %> --password <%= access_token %> gitlab_qa ${CI_API_V4_URL}/projects/<%= package_project.id %>/packages/helm/stable
    - helm repo update
    - helm pull gitlab_qa/<%= package_name %>
  only:
    - <%= client_project.default_branch %>
  tags:
    - runner-for-<%=client_project.group.name %>
